#h01{
	font-size: 22px;
	color:white;
	position:relative;
	bottom:240px;
}
#navigation{
	color:green;
	font-size:26px;
	/*position:absolute;
	left:100px;*/
}
#table3{
	width:400px;
	color:white;
	position:relative;
	bottom:260px;
}
#th1{
	font-size:20px;
	color:white;
	
}
.navbar-default {
	background-color:green;
	color:green;
}
#img1{
	width:300px;
	height:300px;
	position:relative;
	right:0px;
	left:800px;
	top:0px;
}
.p01{
	position:relative;
	left:700px;
	font-size:26px;
	color:black;
}
#p02{
	position:relative;
	left:800px;
	font-size:26px;
	color:black;
}
#body1{
	background-image: url("image1.jpg");
}
#head1
{
	color:white;
	position:relative;
	bottom:200px;
}
#head2{
	color:white;
	position:relative;
	bottom:250px;
}
#nav2{
	color:green;
}
#div1{
	position:relative;
	bottom:200px;
}

#l01
{
	margin:0 auto;
	color:purple;
	
	right:600px;
}
#img03{
	border-radius: 50%;
    position: absolute;
	right: 220px;
}
#img04{
	border-radius: 50%;
    
    position: absolute;
    
	right: 100px;
}
#img05{
	border-radius: 50%;
    
    position: absolute;
    
	right: 160px;
}
#img06{
	border-radius: 50%;
    
    position: absolute;
    
	right: 40px;
}
#p01{
	color: white;
	position:relative;
	left:10px;
}
#f01{
	
    position: relative;
    top:120px;
    height: 60px;
    width: 100%;
   
    text-align: center;
	
	background-color:green;
}
#body2{
	background-image: url("image3.jpeg");
	overflow-x: hidden;
	
	

}
#img11{
	width:75px;
	height:75px;
	position:relative;
	top:10px;
}
.lab1
{
	color:red;
	font-size:22px;
}
#b04{
	border: none;
    background-color: red;
    border-radius: 14px;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
}
#f02{

	border:10px solid green;
	float: center;
	position:relative;
	top:80px;
	width: 500px;
	height:510px;

}
#div4{
	position:relative;
	top:100px;
}
#body3{
	background-image: url("image34.jpg");
	overflow-x: hidden;
	

}
#b03{
	border: none;
    background-color: green;
    border-radius: 14px;
   font-size:20px;
    text-decoration: none;
    
    padding: 18px;
    position: relative;
    left:160px;

}
#l03{
	 font-size: 22px;
    clear:left;
    text-align:right;
    padding-right:30px;
    color:white;
}
#t01
{
	width:200px;
	height: 25px;
	
	
}
#l04{
	 font-size: 22px;
    clear:left;
    text-align:right;
    padding-right:50px;
    color:white;
}
#l05{
	 font-size: 22px;
    clear:left;
    text-align:right;
    padding-right:120px;
    color:white;
}
#t02
{
	width:200px;
	height: 25px;
	position:relative;
	left:13px;
	
}
#l09{
	 font-size: 20px;
    clear:left;
    text-align:right;
    padding-right:10px;
    color:white;
}
#l10{
	position: relative;
	left: 50px;
	 font-size: 20px;
    clear:left;
    text-align:right;
    padding-right:10px;
    color:white;
}
#r03{
	width: 20px;
	height: 20px;
	position: relative;
	left: 0px;
	text-align: center;
	}
#r04{
	width: 20px;
	height: 20px;
	position: relative;
	left: 45px;
	text-align: center;
	}
#l07{
	 font-size: 20px;
    clear:left;
    text-align:right;
    padding-right:10px;
    color:white;
}
#l08{
	position: relative;
	left: 50px;
	 font-size: 20px;
    clear:left;
    text-align:right;
    padding-right:10px;
    color:white;
}
#r01{
	width: 20px;
	height: 20px;
	position: relative;
	left: 0px;
	text-align: center;
	}
#r02
{
	width: 20px;
	height: 20px;
	position: relative;
	left: 45px;
}
#b05{
	border: none;
    background-color: green;
    border-radius: 14px;
   font-size:20px;
    text-decoration: none;
    padding: 18px;
    position: relative;
    left:200px;

}
#t04{
	color:red;
}
#t05{
	color:red;
}